ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 0.2px solid rgb(215, 215, 215);
}

.left,
.right {
  display: flex;
  align-items: center;
}

.left {
  flex: 1;
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

li {
  margin: 0;
}

li a {
  display: block;
  color: rgb(31, 23, 23);
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;

  font-family: "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

li a:hover {
  color: rgb(0, 0, 0);
}

li a.active {
  color: rgb(48, 188, 149);
  border-bottom: 4px solid rgb(48, 188, 149);
}

li a:not(.active) {
  border-bottom: none;
}
